
body {
  background: #fff;
  min-width: 550px;
  padding: 0;
}
body p {
  font-family: 'Roboto-Light';
}

h1, h2 { font-family: 'Amsi Pro Ultra'/*font: bold 2em Amsi Pro Ultra*/; }
h3 { font-family: 'Amsi Pro'/*font: bold 1.17em Amsi Pro*/; }


.label {
  font: italic 12px arial, sans-serif;
  padding: 0 10px;
}
.splash {
  display: block;
  margin: -15px auto 0 auto;
  padding: 30vh 15vh;
}
.txt-lg {
  font-family: 'Amsi Pro Ultra';
  font-size: 48px;
  margin: 5px;
}
.txt-md {
  font-family: 'Amsi Pro';
  font-size: 24px;
  margin: 5px;
}

section {
  border-top: 2px dashed lightgrey;
  margin: 0;
}

.menubar {
  padding: 0px 25px;
}
.logo {
  width: 50px;
  display: inline-block;
}

nav {
  float: left;

  float: right;
}
nav a {
  color: black;
  text-decoration: none;
  text-align: center;
  font: bold 1em Amsi Pro;
  line-height: 50px;
  display: inline-block;
  min-width:100px;
  width:15vw;
}

.banner-gradient {
  height: 200px;
  width: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  opacity: 0.95;
  overflow: auto;
  padding: 20px;
  p {
    color: white;
    margin: 80px auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-family: 'Amsi Pro Ultra';
  }
}


.oneColumn {
  padding: 20px;
}
.twoColumn {
  padding: 20px;
  p {
    width: 47.5%;
    padding-right: 2.5%;
    display: table-cell;
  }
}
.threeColumn {
  padding: 20px;
  p {
    width: 30%;
    padding-right: 3.3%;
    display: table-cell;
  }
}
